@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');

h1{
	font-family: 'Luckiest Guy', cursive;
	color: black;
	text-align: center;
}
h2{
	font-family: 'Luckiest Guy', cursive;
	color: white;
	text-align: center;
}
p{
	font-family: 'Domine', serif;
	color: black;
}
.header-image{ 
	background-image:url(images/fox-1522156.jpg);
	height: 400px;
	background-size:cover;
	background-position: center top;
	background-repeat:no-repeat;
}
nav{
	width: 100%;
	background-color: cyan;
	text-align: center;
}
footer{
	width: 100%;
	background-color:  Black;
}
i.fa{
	color: white;
	font-size: 3em;
}
.gallery .preview{
    width:100%
    height:auto;
}

.gallery .gallery-thumbnails img {
    width:100px;
    height:75px;
    margin: 3px 10px 10px 0;
}

.gallery .gallery-thumbnails img:hover {
    opacity: .8;
    cursor: pointer;
}

.gallery .preview img#preview {
    padding: 1px;
    max-width: 100%;
    height: auto;
    margin: 0 auto !important;
    display: block !important;
}
ul {
   list-style-type: none;
}
h3{
	font-family: 'Domine', serif;
	color: black;
	text-align: left;
}